{% extends "restaurante/base.html" %} 
{% load django_bootstrap5 %}

{% block contenido %}
<div class="container mt-5">
    <h2>Registro de Usuario</h2>
    
    <form action="{% url 'registrar_usuario' %}" method="post">
        {% csrf_token %}
        
        {% bootstrap_form formulario %} 
        
        {% bootstrap_button "Registrarme" button_type="submit" button_class="btn-primary" %}
    </form>
    
    <p class="mt-3">
        ¿Ya tienes cuenta? <a href="{% url 'login' %}">Iniciar Sesión</a>
    </p>
</div>
{% endblock contenido %}