{% extends 'restaurante/base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Listado de Reservas</h2>

    <a href="{% url 'reservas_crear' %}" class="btn btn-primary mb-3">
        Crear nueva reserva
    </a>

    {% for r in reservas %}
        <div class="p-3 border mb-3">

            <h5 class="mb-1">{{ r.cliente.nombre }}</h5>

            <p class="mb-1">
                Mesa {{ r.mesa.numero }} <br>
                <strong>Fecha:</strong> {{ r.fecha }}  
                <strong>Hora:</strong> {{ r.hora }}
            </p>

            <a href="{% url 'reservas_editar' r.id %}" class="btn btn-sm btn-primary">
                Editar
            </a>

            <form action="{% url 'reservas_eliminar' r.id %}" 
                  method="post" style="display:inline;">
                {% csrf_token %}
                <button class="btn btn-sm btn-danger" 
                        data-confirm="¿Seguro que quieres eliminar esta reserva?">
                    Eliminar
                </button>
            </form>

        </div>

    {% empty %}
        <p class="text-muted">No hay reservas disponibles.</p>
    {% endfor %}

    <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Volver al inicio</a>

</div>

{% endblock %}
