{% extends 'restaurante/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container mt-4" style="max-width: 500px;">

    <h2 class="mb-4">Crear cliente</h2>

    <form method="post" action="{% url 'crud_clientes:crear' %}">
        {% csrf_token %}

        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{% url 'crud_clientes:listar' %}" class="btn btn-secondary ms-2">Volver</a>
    </form>

</div>

{% endblock %}
