{% extends 'restaurante/base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<h2>Eliminar Restaurante</h2>
<p>¿Seguro que deseas eliminar el restaurante "{{ restaurante.nombre }}"?</p>

<form method="post" action="{% url 'restaurantes_eliminar' restaurante.id %}" class="confirm-delete" data-confirm="¿Seguro que deseas eliminar el restaurante '{{ restaurante.nombre }}'?">
  {% csrf_token %}
  <button type="submit">Confirmar</button>
</form>

<a href="{% url 'restaurantes_listar' %}">Cancelar</a>
{% endblock %}
