{% extends 'restaurante/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

<div class="container mt-4" style="max-width: 600px;">

    <h2 class="mb-4">Crear plato</h2>

    <form method="post">
        {% csrf_token %}

        <!-- Restaurante -->
        <div class="mb-3">
            <label class="form-label">Restaurante</label>
            {% bootstrap_field form.restaurante show_label=False %}
        </div>

        <!-- Nombre -->
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            {% bootstrap_field form.nombre show_label=False %}
        </div>

        <!-- Precio -->
        <div class="mb-3">
            <label class="form-label">Precio</label>
            {% bootstrap_field form.precio show_label=False %}
        </div>

        <!-- Categoris -->
        <div class="mb-3">
            <label class="form-label">Categoría</label>
            {% bootstrap_field form.categoria show_label=False %}
        </div>

        <!-- Etiquetas -->
        <div class="mb-3">
            <label class="form-label">Etiquetas</label>
            {% bootstrap_field form.etiquetas show_label=False %}
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
        <a href="{% url 'crud_platos:listar' %}" class="btn btn-secondary ms-2">Volver</a>
    </form>

</div>

{% endblock %}
