{% extends 'restaurante/base.html' %}
{% block title %}Platos - Listar{% endblock %}
{% block content %}

<h1>Platos</h1>
<p><a href="{% url 'crud_platos:crear' %}">Crear plato</a></p>

<table>
  <thead>
    <tr>
      <th>Restaurante</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Disponible</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    {% for p in platos %}
    <tr>
      <td>{{ p.restaurante.nombre }}</td>
      <td>{{ p.nombre }}</td>
      <td>{{ p.precio }}</td>
      <td>{{ p.categoria }}</td>
      <td>{% if p.disponible %}Sí{% else %}No{% endif %}</td>

      <td>
        <a href="{% url 'crud_platos:editar' p.pk %}">Editar</a> |

     
        <form method="post" 
              action="{% url 'crud_platos:eliminar' p.pk %}"
              style="display:inline;"
              data-confirm="¿Seguro que quieres eliminar el plato {{ p.nombre }}?">
          {% csrf_token %}
          <button type="submit" style="background:none;border:none;color:red;cursor:pointer;padding:0;">
            Eliminar
          </button>
        </form>

      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No hay platos.</td></tr>
    {% endfor %}
  </tbody>
</table>

<p class="mt-3">
  <a class="btn btn-link" href="{% url 'index' %}">Volver al inicio</a>
</p>

{% endblock %}
